* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

.s-title {
  margin-top: 3rem;
}

.title {
  font-size: xx-large;
}

.obs,
.s-discount,
.s-result {
  margin-bottom: 3rem;
}

.obs {
  font-size: 0.9rem;
}

.s-discount label {
  display: block;
  margin-bottom: 0.4rem;
}

#discount,
.btn {
  border-radius: 4rem;
  height: 3rem;
  width: 15rem;
}

#discount,
.btn,
.s-result,
.paragraph1 span,
.paragraph2 span {
  font-size: 1.4rem;
}

.paragraph1 span {
  color: red;
}

.paragraph2 span {
  color: green;
}

.paragraph3 span {
  color: blue;
}

.btn {
  background-color: blue;
  border: none;
  color: aliceblue;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
  transition: 0.3s;
}

.btn:active {
  opacity: 0.3;
  transition: 0.3s;
}
